.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   border: 3px solid #d88575;
   background-color:#436072 ;
   width: 20%;
   margin: 60px auto;
}
h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
padding: 5px;
background-color:#d88575 ;
color: #fff;
}
li{
    color: #fff;
}
